<% layout('boilerplate') -%>

<% console.log(tour) %>
<% console.log(spots) %>
<%
var tour = {
    name: 'Big Ben Bitches',
    description: 'Take a luxurious tour of one of londons most iconic building in this tour going around big ben and westminster',
    img: 'http://cdn.londonandpartners.com/visit/london-organisations/houses-of-parliament/63950-640x360-london-icons2-640.jpg',
    fk_bus_stop_start_id: 'H',
    cost: 10.50,
    pk_tour_id: 1
}
%>

<div class="col-md-8 col-md-offset-2 detailContainer">
  <div class="routeInfo">
    <div class="row">
      <div class="col-md-6 routeInfoLeft">
        <div class="routeInfoTitle">
          <%= tour.name %>
        </div>
        <div class="routeInfoDescription">
          <%= tour.description %>
        </div>

        <table class="table">
          <tr>
            <td> Cost </td>
            <td> £<%= (tour.cost).toFixed(2) %> </td>
          </tr>
          <tr>
            <td> Starts at stop </td>
            <td>
              <div class="bus_icon">
                <div class="bus_stop">
                  <%= tour.fk_bus_stop_start_id %>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div class="purchaseButton">
          <a href="/payment/tour/<%= tour.pk_tour_id %>">
            <input type="button" class="btn btn-success" value="Purchase Route">
          </a>
        </div>
      </div>
      <div class="col-md-6 routeInfoRight">
        <img src="<%= tour.img %>" alt="..." class="img-thumbnail routeImg">
      </div>
    </div>
  </div>

  <div class="spotsInfo">
    <div class="spotTitle"> What you'll be seeing </div>
    <% for (var i = 0; i < spots.length; i++) { %>
      <div class="row spotRow">
        <div class="col-xs-1 spot">
          <div class="img-circle-border">
            <div class="img-circle ">
              <div class="step-icon" style="background-image: url('<%= spots[i].img %>')"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-11">
          <div class="spotText"> <%= spots[i].name %></div>
        </div>
      </div>
    <% } %>
  </div>
</div>
