<% layout('boilerplate') -%>


<input type="hidden" id="detail_tour_id">

<div class="col-md-8 col-md-offset-2 detailContainer">
  <div class="routeInfo">
    <div class="row">
      <div class="col-md-6 routeInfoLeft">
        <div class="routeInfoTitle">
          <%= tour.name %>
        </div>
        <div class="routeInfoDescription">
          <%= tour.description %>
        </div>

        <table class="table">
          <tr>
            <td> Cost </td>
            <td> £<%= (tour.cost).toFixed(2) %> </td>
          </tr>
          <tr>
            <td> Starts at stop </td>
            <td>
              <div class="bus_icon">
                <div class="bus_stop">
                  <%= tour.stop_letter %>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div class="purchaseButton">
          <input id="btn_detail_purchase" type="button" class="btn btn-success" value="Purchase Route" data-id="<%= tour.pk_tour_id %>">
          <img id="paymentLoadingGif" class="hidden" src="http://www.tj-auctions.com/images/loading.gif">
        </div>
        <div id="paymentContainer"></div>
      </div>
      <div class="col-md-6 routeInfoRight">
        <img src="<%= tour.img %>" alt="..." class="img-thumbnail routeImg">
      </div>
    </div>
  </div>

  <div class="spotsInfo">
    <div class="spotTitle"> What you'll be seeing </div>
    <% for (var i = 0; i < spots.length; i++) { %>
      <div class="row spotRow">
        <div class="pull-left spot">
          <div class="img-circle-border">
            <div class="img-circle">
              <div class="step-icon background-cover" style="background-image: url('<%= spots[i].img %>')"></div>
            </div>
          </div>
        </div>
        <div class="">
          <div class="spotText"> <%= spots[i].name %></div>
        </div>
      </div>
    <% } %>
  </div>
</div>
