<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="libs/Bootstrap/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <div class="starter-template">
        <h1>Looks like something went wrong.</h1>
        <p class="lead">
          We'll look into it and have it fixed before you can say 'ay caramba'
        </p>
      </div>

      <img src="http://nation.foxnews.com/sites/nation.foxnews.com/files/styles/story_624_300/public/homer_doh_fox_1.jpg" />

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
