<% layout('boilerplate') -%>

<div class="row homepage">
  <div class="col-xs-12">
    <h3 style="font-size: 49px;">Explore London</h3>
  </div>
  <div class="clearfix"></div>
  <div>
    <% tours.forEach(function(tour) { %>
    <div class="col-md-6">
      <div class="tileHolder" style="background: url('<%= tour.img %>') no-repeat scroll center center transparent;">
        <a href="/detail/tour/<%= tour.pk_tour_id %>" class="tileLink"></a>

        <div class="tileTextBg"></div>
        <div class="tileTextCenter">
          <div class="tileText">
            <%= tour.name %>
          </div>
        </div>
        <div class="tileTextFooterBg"></div>
        <div class="tileFooterText">
          <div class="pull-left price">
            <div>
              £<%= tour.cost.toFixed(2) %>
            </div>
          </div>
          <div class="overflow">
            Starts at <%= tour.stopName.toLowerCase().replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, function ($1) {return $1.toUpperCase();}).replace('<> #','') %>
            <br/>
            <span class="arrives-in step-type-stop" data-lineid="<%= tour.busLineId %>" data-bus-stop-name="<%= tour.stopName %>"></span>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<h1>Know some stuff?</h1>
<a href="/spot/add">
  Add some content and
  <button class="btn btn-primary">
    Get Paid
  </button>
</a>

<div class="next-stop-push"></div>
<div class="next-stop-push"></div>
