<% layout('boilerplate') -%>

<h1>Loads of cool routes</h1>

<div id="demo"></div>

<div class="step-container">
<% tourSteps.forEach(function(step){ %>
    <div class="step">
        <div class="step-bar" data-toggle="collapse" href="#step-details-<%= step.id %>"
             aria-expanded="false" aria-controls="collapseExample">
            <div class="step-image">
                <div class="img-circle-border">
                    <div class="img-circle ">
                        <div class="step-icon" style="background-image: url('<%= step.image %>')"></div>
                    </div>
                </div>
            </div>
            <div class="step-name">
                <%= step.name %>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="step-details-<%= step.id %>" class="step-details collapse">
            <%= step.details %>
        </div>
    </div>
<% }); %>
</div>