<% layout('boilerplate') -%>

<div class="container">
  <div class="row">
    <h1>Top Users</h1>

    <% users.forEach(function(user) { %>
    <div class="col-md-6">
      <div class="row">

        <div class="pull-left spot">
          <div class="img-circle-border">
            <div class="img-circle">
              <div class="step-icon background-cover" style="background-image: url('<%= user.image_profile %>')"></div>
            </div>
          </div>
        </div>
        <div class="overflow">
          <div class="col-xs-10">
            <%= user.username %>
          </div>
          <div class="col-xs-1">
            <%= user.spots %>
          </div>
          <div class="col-xs-1">
            <%= user.votes %>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
