body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tileHolder {
    height: 200px;
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

.tileHolder a {
    text-decoration: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 50;
    left: 0;
}

.tileTextBg {
    opacity: 0.80;
    top: 0;
    width: 100%;
    position: absolute;
    height: 35px;
    background: none repeat scroll 0 0 #1abc9c;
}

.tileTextFooterBg {
    opacity: 0.80;
    width: 100%;
    position: absolute;
    height: 55px;
    background: none repeat scroll 0 0 #1abc9c;
    top: 145px;
}

.tileHolder .tileText {
  font-family: 'Roboto', Arial, sans-serif;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #ffffff;
}

.tileHolder .tileFooterText {
  font-family: 'Roboto', Arial, sans-serif;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #ffffff;
}

.tileHolder .tileFooterText .left {
  width: 80%;
  height: 100%;
  float:left;
}

.tileHolder .tileFooterText .right {
  float:right;
  padding-right: 5px;
}

.tileHolder .tileText {
  font-size: 20px;
  height: 50px;
  top: 1px;
  text-transform: uppercase;
}

.tileHolder .tileFooterText {
  font-size: 16px;
  top: 145px;
}

.tileHolder .tileFooterBusStop {
  font-family: 'Roboto', Arial, sans-serif;
  position: absolute;
  text-align: center;
  width: 20%;
  color: #ffffff;
  width: 20%;
}

.detailContainer .bus_icon,
.tileHolder .bus_icon {
  width: 21px;
  height: 21px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: red;
  margin-left: 20px;
}

.detailContainer .bus_icon .bus_stop {
  top: 0px;
  right: -5px;
  font-size: 15px;
}

.tileHolder .bus_icon .bus_stop {
  top: -2px;
  right: 1px;
}

.detailContainer .bus_icon .bus_stop,
.tileHolder .bus_icon .bus_stop {
  position: relative;
  color: white;
}


.detailContainer .spot {
  margin-top: 10px;
  margin-bottom: 10px;
}

.detailContainer .spot .spotCircle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: solid #CCCCCC 1px;
  float:left;
  top: 15px;
  position: relative;
}

.detailContainer .spotText {
  font-weight: bold;
  top: 20px;
  position: relative;
  padding-left: 10px;


}

.detailContainer .spot .spotName {
  float: left;
  position: relative;
  top: 14px;
  margin-left: 10px;
}

.detailContainer .spot .spotName .name {
  font-weight: bold;
}

.detailContainer .spot .spotName .desc {
  line-height: 20px;
}

.detailContainer .routeInfo .routeImg {
  width:100%;
}

.detailContainer .routeInfo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.detailContainer .routeInfoLeft .routeInfoTitle {
  font-size: 26px;
}

.detailContainer .routeInfoLeft .routeInfoDescription {
  line-height: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.detailContainer .routeInfoLeft table {
  margin-bottom:5px;
}

.detailContainer .routeInfoLeft .routeInfoBoxed {
}

.detailContainer .spotsInfo .spot {
  margin-top: 10px;
  margin-bottom: 10px;
}

.step {
    border-top: 1px solid #dcdcdc;
    padding: 5px 0;
}

.step-container {
    border-bottom: 1px solid #dcdcdc;
}

.step-bar {
    overflow: hidden;
}

.step-icon {
    width: 55px;
    height: 55px;
}

.background-cover {
    background-size: cover;
    background-position: center center;
}

.step-image {
    width:55px;
    float:left;
}

.step-name {
    overflow: hidden;
    padding: 0 10px;
}

.step .img-circle,
.spotsInfo .img-circle {
    overflow: hidden;
    width: 55px;
    height: 55px;
    border: 3px solid #FFF;
}

.spotsInfo .img-circle-border,
.img-circle-border {
    width: 57px;
    height: 57px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.step-details {
    margin-top: 10px;
}

.spotsInfo .spotTitle {
  font-size: 26px;
}

.step-distance {
    color: #dadada;
}

.detailContainer .spotRow {
    border-top: 1px solid #dcdcdc;
}

.detailContainer .purchaseButton {
  text-align:center;
  margin-bottom:5px;
}

.detailContainer .purchaseButton .btn.btn-success {
  margin:auto;
}


#callRequest {
  margin-top:15px;
}

.hide,
.hidden {
  display:none;
}

#checkout {
  border: solid 1px #CCCCCC;
  margin-bottom: 10px;
  padding: 10px;
}

.tour .hero {
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .tour .hero {
        height: 200px;
    }
}

.hero .gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) , rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, rgba(0,0,0,0) , rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) , rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, rgba(0,0,0,0) , rgba(0,0,0,1)); /* Standard syntax */
}

.tour .hero h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: #ECF0F1;
}

.stop-map-canvas {
    height: 300px;
    width: 100%;
}

#callRequest {
    margin-bottom: 20px;
}
